!!!
html
  head
    meta(http-equiv='content-type', content='html/text', charset='UTF-8')
    
    title= title
    
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/lib/typeaheadmap/typeaheadmap.css')
    link(rel='stylesheet', href='/lib/envision/envision.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  
    body
      block content
  
    script(type='text/javascript', src='/lib/jquery/jquery-1.8.0.min.js')
    script(type='text/javascript', src='/lib/jquery/jquery.cookie.js')
    script(type='text/javascript', src='/lib/validate/jquery.validate.min.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/lib/bootstrappage/bootstrap-pagination.js')
    //
      script(type='text/javascript', src='/lib/envision/envision.min.js')
    script(type='text/javascript', src='/lib/envision/envisionmod.js')
    script(type='text/javascript', src='/lib/noty/jquery.noty.js')
    script(type='text/javascript', src='/lib/noty/layouts/topCenter.js')
    script(type='text/javascript', src='/lib/noty/themes/default.js')
    script(type='text/javascript', src='/lib/typeaheadmap/typeaheadmap.js')
    script(type='text/javascript', src='/lib/complexify/jquery.complexify.js')
    script(type='text/javascript', src='/lib/hashchange/jquery.hashchange.min.js')
    script(type='text/javascript', src='/js/disqus.js')

    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/charts.js')
    script(type='text/javascript', src='/js/charts-compare.js')

  
